@using Ornament.Web
@using Qi.Web.Mvc
@using Ornament;
@model Ornament.MemberShip.Plugin.Areas.MemberShips.Models.PermissionWizard


@{
    var i = -1;
    bool foundSelected = false;
    foreach (var resourceType in OrnamentContext.ResourceManager.Configuration().ResourceSettings)
    {
        foundSelected = resourceType.Name == this.Model.DescriptionResourceName;
        i++;

    <div>
        <label for="@("ResourceType" + i)">
            @Html.RadioButton("DescriptionResourceName", resourceType.Name, foundSelected, new { id = "ResourceType" + i })
            @resourceType.Name
        </label>
    </div>
    }

    if (!foundSelected)
    {
    <script type="text/javascript">
        $("#ResourceType0").attr("checked", true)
    </script>
    }

}

