@model Ornament.Models.Memberships.ChangePasswordModel
@using Ornament.Web.HtmlExtends
@{
    ViewBag.Title = "VerifyEmailAndChangePassword";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}


<form class="form-horizontal">
    @Html.LabelTextBoxFor(s => s.CurrentPassword)
    @Html.LabelTextBoxFor(s => s.NewPassword)
    @Html.LabelTextBoxFor(s => s.ConfirmPassword)
</form>
