@using Qi.Web.Mvc
@model Ornament.Models.Memberships.ChangePasswordModel
@{
    var ajaxOptions = new AjaxOptions()
        {
            UpdateTargetId = "changePassowrd",
            OnComplete = "ResetErrorState",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "post"
        };
    var formStyle = new
        {
            @class = "form-horizontal", autocomplete = "off", id = "changePassowrd"
        };
}
@using (Ajax.BeginForm("ChangePassword", "Account", ajaxOptions, formStyle))
{
    @Html.Partial("_changePassword", this.Model)
    <div class="form-actions">
        <button id="ChangePasswordButton" class="btn btn-primary" type="submit">@Resources.Basic.OK
            <i class="icon-pencil icon-white"></i>
        </button>
    </div>

}
<script type="text/javascript">
    function ResetErrorState() {
        $("#changePassowrd").bootstrapMakeUp();
    }
</script>
