@using Ornament.Messages
@using Ornament.Messages.Notification
@using Ornament.Messages.PersonalMessages
@using Ornament.Web
@model PersonalMessage

@{
    ViewBag.Title = "Message Index";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    var messages = (IList<PersonalMessage>)ViewData["notify"];
}

@section pageTitle
{
    <h5>Personal Messages</h5>
}

<div class="row-fluid">
    <div class="span8">
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>Notify message</h6>
                </div>
            </div>
            <div class="well body">
                @foreach (var a in messages)
                {
                    var content = a.Content;
                    <div class="semi-widget">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <button class="btn pull-right btn-info">知道了</button>
                            </div>
                        </div>
                        <div class="body well">
                            @content
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
