@using System.Web.Optimization
@using Ornament
@using Ornament.MemberShip.Dao.NHibernateImple.Mappings
@{
    Layout = "/Views/Shared/_layout.cshtml";
}

<div class="row">

</div>

@section scripts{

}
