
@section header{
     <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' src="/lib/pace/pace.js"></script>
}
<!-- MAIN CONTENT -->

    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-home"></i>
            Page Header
            <span>
                >
                Subtitle
            </span>  
        </h1>
    </div>

<!-- END MAIN CONTENT -->
@section scripts {
}