
/src/_ReSharper.Ornament
/src/packages/Castle.Core.3.0.0.4001
/src/packages/Castle.Windsor.3.0.0.4001
/src/packages/EntityFramework.4.1.10331.0
/src/packages/Iesi.Collections.3.2.0.4000
/src/packages/jQuery.1.5.1
/src/packages/jQuery.1.7.1
/src/packages/jQuery.UI.Combined.1.8.11
/src/packages/jQuery.UI.Combined.1.8.16
/src/packages/jQuery.Validation.1.8.0
/src/packages/jQuery.vsdoc.1.5.1
/src/packages/log4net.1.2.10
/src/packages/Modernizr.1.7
/src/packages/NHibernate.3.2.0.4000
/src/packages/Qi4net.1.1.2.0
/src/packages/Qi4net.1.1.2.3
/src/Messages/Ornament.Messages.Core/obj
/src/Messages/Ornament.Messages.Core/bin
/src/Messages/Ornament.Messages.Core.Test/obj
/src/Messages/Ornament.Messages.Core.Test/bin
/src/Messages/Ornament.Messages.Dao.NHibernateImple/obj
/src/Messages/Ornament.Messages.Dao.NHibernateImple/bin
/src/Ornament.Core/obj
/src/Ornament.Core/bin
/src/Ornament.MVCWebFrame/bin
/src/Ornament.MVCWebFrame/log
/src/Ornament.MVCWebFrame/obj
/src/Ornament.Web.Dao.NHibernateImple/obj
/src/Ornament.Web.Dao.NHibernateImple/bin
/src/Ornament.Test/bin
/src/Ornament.Test/obj
/src/Ornament.MemberShip.Test/bin
/src/Ornament.MemberShip.Test/obj
/src/Ornament.MemberShip.DataAccess.NHibernate/obj
/src/Ornament.MemberShip.DataAccess.NHibernate/bin
/src/Ornament.MemberShip.Core/obj
/src/Ornament.MemberShip.Core/bin
/src/Ornament.EasySaver/obj
/src/Ornament.EasySaver/bin
/src/Ornament.Web/bin
/src/Ornament.Web/obj
/src/TestResults
/src/packages/CKEditor.3.6.2
/src/Ornament.MVCWebFrame/Content/combine/bootstrap.css
/src/Ornament.WinServiceTemplate/obj
/src/Ornament.WinServiceTemplate/bin
/src/Ornament.MVC4WebFrame/bin
/src/Ornament.MVC4WebFrame/obj
/src/Ornament.MVC4WebFrame/log
/src/packages
/src/Extends/Projects/QiPorject/bin
/src/Extends/Projects/QiPorject/obj
/src/Extends/Projects/QiProject.Dao.NhImple/obj
/src/Extends/Projects/QiProject.Dao.NhImple/bin
/src/Ornament.MVC4WebFrame/log
/src/Ornament.MVC4WebFrame/obj
/src/Ornament.MVC4WebFrame/bin
/src/Extends/Daily/Qi.Attendance/bin
/src/Extends/Daily/Qi.Attendance/obj
/src/Extends/Daily/Qi.Attendance.Dao.NhImple/obj
/src/Extends/Daily/Qi.Attendance.Dao.NhImple/bin
/src/Ornament.MVC4WebFrame/Content/Combine/global.css
/src/MemberShip/Ornament.MemberShip.Test/obj
/src/MemberShip/Ornament.MemberShip.Test/bin
/src/MemberShip/Ornament.MemberShip.Core/obj
/src/MemberShip/Ornament.MemberShip.Core/bin
/src/MemberShip/Ornament.MemberShip.Dao.NHibernateImple/obj
/src/MemberShip/Ornament.MemberShip.Dao.NHibernateImple/bin
/src/Extends/Badminton/Badminton.Dao.NhImpl/bin
/src/Extends/Badminton/Badminton.Dao.NhImpl/obj
/src/Extends/Badminton/Badminton.Core/obj
/src/Extends/Badminton/Badminton.Core/bin
/src/Helpers/ElFinder.Net/obj
/src/Helpers/ElFinder.Net/bin
/src/Ornament.MVC4WebFrame/Mappings
/src/Extends/CRM/Sand.Dao.NHimple/bin
/src/Extends/CRM/Sand.Dao.NHimple/obj
/src/Extends/CRM/Sand/bin
/src/Extends/CRM/Sand/obj
/src/Extends/CRM/Qi.CRM.Dao.NHimple/obj
/src/Extends/CRM/Qi.CRM.Dao.NHimple/bin
/src/Extends/CRM/Qi.CRM/obj
/src/Extends/CRM/Qi.CRM/bin
obj
bin
/src/Mvc5WebApplication/Mappings
/src/Mvc5WebApplication/log
/src/Chat/.idea
/src/chat/node_modules

src/MemberShip/Ornament.MemberShip.Dao.NHibernateImple/MemberShipDaoFactory.cs
src/Messages/Ornament.Messages.Plugin/Ornament.Messages.Plugin.csproj