
/Ornament/_ReSharper.Ornament
/Ornament/packages/Castle.Core.3.0.0.4001
/Ornament/packages/Castle.Windsor.3.0.0.4001
/Ornament/packages/EntityFramework.4.1.10331.0
/Ornament/packages/Iesi.Collections.3.2.0.4000
/Ornament/packages/jQuery.1.5.1
/Ornament/packages/jQuery.1.7.1
/Ornament/packages/jQuery.UI.Combined.1.8.11
/Ornament/packages/jQuery.UI.Combined.1.8.16
/Ornament/packages/jQuery.Validation.1.8.0
/Ornament/packages/jQuery.vsdoc.1.5.1
/Ornament/packages/log4net.1.2.10
/Ornament/packages/Modernizr.1.7
/Ornament/packages/NHibernate.3.2.0.4000
/Ornament/packages/Qi4net.1.1.2.0
/Ornament/packages/Qi4net.1.1.2.3
/Ornament/Messages/Ornament.Messages.Core/obj
/Ornament/Messages/Ornament.Messages.Core/bin
/Ornament/Messages/Ornament.Messages.Core.Test/obj
/Ornament/Messages/Ornament.Messages.Core.Test/bin
/Ornament/Messages/Ornament.Messages.Dao.NHibernateImple/obj
/Ornament/Messages/Ornament.Messages.Dao.NHibernateImple/bin
/Ornament/Ornament.Core/obj
/Ornament/Ornament.Core/bin
/Ornament/Ornament.MVCWebFrame/bin
/Ornament/Ornament.MVCWebFrame/log
/Ornament/Ornament.MVCWebFrame/obj
/Ornament/Ornament.Web.Dao.NHibernateImple/obj
/Ornament/Ornament.Web.Dao.NHibernateImple/bin
/Ornament/Ornament.Test/bin
/Ornament/Ornament.Test/obj
/Ornament/Ornament.MemberShip.Test/bin
/Ornament/Ornament.MemberShip.Test/obj
/Ornament/Ornament.MemberShip.DataAccess.NHibernate/obj
/Ornament/Ornament.MemberShip.DataAccess.NHibernate/bin
/Ornament/Ornament.MemberShip.Core/obj
/Ornament/Ornament.MemberShip.Core/bin
/Ornament/Ornament.EasySaver/obj
/Ornament/Ornament.EasySaver/bin
/Ornament/Ornament.Web/bin
/Ornament/Ornament.Web/obj
/Ornament/TestResults
/Ornament/packages/CKEditor.3.6.2
/Ornament/Ornament.MVCWebFrame/Content/combine/bootstrap.css
/Ornament/Ornament.WinServiceTemplate/obj
/Ornament/Ornament.WinServiceTemplate/bin
/Ornament/Ornament.MVC4WebFrame/bin
/Ornament/Ornament.MVC4WebFrame/obj
/Ornament/Ornament.MVC4WebFrame/log
/Ornament/packages
/Ornament/Extends/Projects/QiPorject/bin
/Ornament/Extends/Projects/QiPorject/obj
/Ornament/Extends/Projects/QiProject.Dao.NhImple/obj
/Ornament/Extends/Projects/QiProject.Dao.NhImple/bin
