@using Resources
@using System.Globalization;
@{
    var _language = new List<CultureInfo>()
                        {
                            new CultureInfo("zh-CN",false),
                            new CultureInfo("en-US",false),
                            new CultureInfo("zh",false),
                            
                        };
}
<ul class="dropdown-menu" role="menu">
    @foreach (var culture in _language)
    {
        <li>
            @Html.ActionLink(culture.NativeName, "SwitchLanguage", "Home", new { id = culture.Name, area = "" }, null)
        </li>
    }
</ul>
