@using Resources
<div id="pmEditor" class="modal fade">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h3><i class="fam-comments"></i>Chat Record</h3>
    </div>
    <div class="modal-body">
        <div class="widget" style="margin-bottom: 10px">
            <div class="well-smoke">
                <dl class="clearfix chat" style="padding: 8px">
                </dl>
            </div>
            <form class="form-horizontal widget">
                <div class="control-group" style="padding: 10px 0">
                    <label class="control-label">
                        Content
                    </label>
                    <div class="controls">
                        <textarea class="styled" style="width: 100%; resize: none;" rows="10" cols="35"></textarea>
                        <input type="hidden" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" href="#" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>@Basic.Cancel</a>
        <a class="btn btn-primary" href="#" role="send"><i class="icon-envelope"></i>@Basic.Send</a>
    </div>
</div>

