@model Ornament.Web.Pagination
@{

    const int showNumber = 5;
    int numberStart = (this.Model.CurrentPage - showNumber);
    if (numberStart < 0)
    {
        numberStart = 0;
    }

    int numberEnd = (this.Model.CurrentPage + showNumber);
    if (numberEnd > this.Model.TotalPage)
    {
        numberEnd = this.Model.TotalPage;
    }

}
@Html.HiddenFor(s => s.PageSize)
@Html.Hidden("CurrentPage", 0)
<div class="pagination pagination-right">
    <ul>
        @if (this.Model.CurrentPage != 0)
        {
            <li><a href="#@(this.Model.CurrentPage - 1)">«</a></li>
        }
        @for (int i = numberStart; i < numberEnd; i++)
        {
            if (this.Model.CurrentPage == i)
            {
            <li class="active"><a href="#@i">@(i + 1)</a> </li>
            }
            else
            {
            <li><a href="#@i">@(i + 1)</a> </li>
            }
        }
        @if (this.Model.CurrentPage != this.Model.TotalPage - 1 && this.Model.TotalPage != 0)
        {
            <li><a href="#@(this.Model.TotalPage - 1)">..@this.Model.TotalPage</a></li>
        }
        @if (this.Model.CurrentPage + 1 < this.Model.TotalPage)
        {
            <li><a href="#@(this.Model.CurrentPage + 1)">»</a></li>
        }
    </ul>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".pagination li[class!=active] a").click(function () {
            $("#CurrentPage").val($(this).attr("href").substr(1));
            $("form").submit();
        });
    });
</script>
