@model Ornament.Web.UI.Paginations.HtmlExtender.PageClient
<div class="pagination pull-right"
    ms-widget="pagination,@this.Model.WidgetId,@this.Model.Options">

    <ul>
        <li><a>第{{page+1}}页</a></li>
        <li ms-class="disabled:page==0">
            <a href="#0" ms-click="navTo">&lt;&lt;</a>
        </li>
        <li ms-class="disabled:page==0">
            <a ms-click="pre" href="javascript:;">&lt;</a>
        </li>
        <li ms-repeat="pages" ms-class="active:page==el.index">
            <a ms-href="#{{el.index}}" ms-text="el.text" ms-click="navTo"></a>
        </li>
        <li ms-class-disabled="!could('next')">
            <a href="javascript:;" ms-click="next">&gt;</a>
        </li>

        <li ms-class-disabled="!could('last')" ms-if="totalRecords!=0">
            <a href="javascript:;" ms-click="last">&gt;&gt;</a>
        </li>
    </ul>

</div>
