
<script type="text/javascript">
    
    seajs.use("/bundles/jgrowl.js", function () {
        $(document).ready(function() {
            $.jGrowl('Hello world!');
        });
        
    });
</script>
<button onclick=""></button>