<div class="actions-wrapper">
    <div class="actions" data-easytabs="true">

        <div id="user-stats" style="display: block;" class="active">
            <ul class="round-buttons">
                <li>
                    <div class="depth"><a class="tip" title="" href="" data-original-title="Add new post"><i class="icon-plus"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a class="tip" title="" href="" data-original-title="View statement"><i class="icon-signal"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a class="tip" title="" href="" data-original-title="Media posts"><i class="icon-reorder"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a class="tip" title="" href="" data-original-title="RSS feed"><i class="icon-rss"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a class="tip" title="" href="" data-original-title="Create new task"><i class="icon-tasks"></i></a></div>
                </li>
                <li>
                    <div class="depth"><a class="tip" title="" href="" data-original-title="Layout settings"><i class="icon-cogs"></i></a></div>
                </li>
            </ul>
        </div>

        <div id="quick-actions" style="display: none;">
            <ul class="statistics">
                <li>
                    <div class="top-info">
                        <a class="blue-square" title="" href="#"><i class="icon-plus"></i></a>
                        <strong>12,476</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div style="width: 60%;" class="bar"></div>
                    </div>
                    <span>User registrations</span>
                </li>
                <li>
                    <div class="top-info">
                        <a class="red-square" title="" href="#"><i class="icon-hand-up"></i></a>
                        <strong>621,873</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div style="width: 20%;" class="bar"></div>
                    </div>
                    <span>Total clicks</span>
                </li>
                <li>
                    <div class="top-info">
                        <a class="purple-square" title="" href="#"><i class="icon-shopping-cart"></i></a>
                        <strong>562</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div style="width: 90%;" class="bar"></div>
                    </div>
                    <span>New orders</span>
                </li>
                <li>
                    <div class="top-info">
                        <a class="green-square" title="" href="#"><i class="icon-ok"></i></a>
                        <strong>$45,360</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div style="width: 70%;" class="bar"></div>
                    </div>
                    <span>General balance</span>
                </li>
                <li>
                    <div class="top-info">
                        <a class="sea-square" title="" href="#"><i class="icon-group"></i></a>
                        <strong>562K+</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div style="width: 50%;" class="bar"></div>
                    </div>
                    <span>Total users</span>
                </li>
                <li>
                    <div class="top-info">
                        <a class="dark-blue-square" title="" href="#"><i class="icon-facebook"></i></a>
                        <strong>36,290</strong>
                    </div>
                    <div class="progress progress-micro">
                        <div style="width: 93%;" class="bar"></div>
                    </div>
                    <span>Facebook fans</span>
                </li>
            </ul>
        </div>

        <div id="map" style="display: none;">
            <div id="google-map"></div>
        </div>

        <ul class="action-tabs">
            <li class="current"><a title="" href="#user-stats" class="current">Quick actions</a></li>
            <li><a title="" href="#quick-actions">Website statistics</a></li>
            <li><a id="map-link" title="" href="#map">Google map</a></li>
        </ul>
    </div>
</div>