

<input id="loginid" type="text" class="box-filter" />
<button type="button" id="box1Clear" class="filter">x</button>
@*    <a id="searchUser" class="btn"><i class="icon-search"></i></a>*@

<select id="userSearcher" multiple="multiple" class="multiple">
</select>
<script type="text/javascript">
    var pageIndex = 0;
    var searchContent = "";

    seajs.use(['jquery'], function () {

        $("#userSearcher").endlessScroll({
            fireOnce: true,
            fireDelay: false,
            loader: "<div class=\"loading\"><div>",
            callback: function () {
                pageIndex++;
                InvokeSearch();
            }
        });

        $("#searchUser").click(function () {
            searchContent = $("#loginid").val();
            pageIndex = 0;
            InvokeSearch();
        });
        function InvokeSearch() {
            var data = {
                loginId: searchContent,
                pageIndex: pageIndex
            };
            $.getJSON('@this.Url.Action("Search", "User", new { area = "MemberShips" })', data, AddToSelector);
    }

    });


</script>
