@using System.ServiceModel.Security
@using Ornament
@using Ornament.Properties
@using Ornament.Web.UI.Theme
@model dynamic

@{

    Layout = OrnamentContext.Configuration.Layout();
    var options = new PanelOption
    {
        HtmlAttributes = new Dictionary<string, object>
        {
            {"ms-controller", "index"}
        }
    };
}

@using (Panel panel = Html.Panel(options))
{
    @panel.Header(@<text>
    <button ms-click='add' type="button" class="btn btn-primary">@Resources.Add</button>
    </text>)

    @panel.Body(@<text>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Remarks</th>
                <th></th>
            </tr>
        </thead>

        <tbody ms-repeat="systems">
            <tr>
                <td>{{el.Name}}</td>
                <td>{{el.Remarks}}</td>
                <td>@Ornament.Properties.Resources.Edit</td>
            </tr>
        </tbody>
    </table>

    </text>)
}