@using Ornament.MemberShip
@model Ornament.MemberShip.Org

@if (Model != null)
{
    var orgs = new Stack<Org>();
    Org current = Model;
    while (current != null)
    {
        orgs.Push(current);
        current = current.Parent;
    }
    
    <ul class="breadcrumb">
        <li style="background: none">
            @Html.ActionLink("组织单元列表", "Index", "Org", new { id = "", area = "MemberShips" }, null)
        </li>
        @{
    while (orgs.Count != 0)
    {
        current = orgs.Pop();
        bool last = orgs.Count == 0;
            <li @(last ? "class=active" : "")>
                @Html.ActionLink(current.Name, "Index", "Org", new { id = current.Id }, null)
            </li>
    }
        }
    </ul>
}