
@{
    Layout = "~/Views/Shared/_standLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form action="@Url.Action("Index")" method="POST">
        
    </form>
</body>
</html>
