@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    
}
@section head
{
    @Styles.Render("~/Content/CodeStyle")
}
@section script
{
    @Scripts.Render("~/Scripts/CodeStyle")
    <script type="text/javascript">
        prettyPrint()
    </script>
}
<div class="page-header">
    <h2>
        All Ui Presentation</h2>
    <p>
        Change /Content/Less/variable.less to view the page.
    </p>
</div>
<div class="box">
    <div class="content">
        <header>
            <h3>
                Example block text</h3>
        </header>
        <section>
            <p>
                Nullam quis risus <strong>eget urna mollis</strong> ornare vel eu leo. <em>Cum sociisnatoque
                    penatibus</em> et magnis dis parturient montes, <code>code</code> nascetur ridiculus
                mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed euismod aliquet
                sapien consequat tincidunt.</p>
            <p>
                Vivamus sagittis lacus vel augue laoreet
                <abbr data-original-title="Sample abbreviation">
                    rutrum faucibus dolor auctor</abbr>. Duis mollis, est <strike>non commodo luctus</strike>
                , nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
                Sed euismod aliquet sapien consequat tincidunt.</p>
        </section>
        <footer>
            <p>
                Huraga is packed with variety of typography elements for easy and rapid web app
                development.</p>
        </footer>
    </div>
</div>
<div class="row">
    <div class="box span3">
        <div class="content">
            <header>
                <h4>Ordered List</h4>
            </header>
            <section>
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ol>
            </section>
        </div>
    </div>
    <div class="box span3">
        <div class="content">
            <header>
                <h4>
                    unordered List</h4>
            </header>
            <section>
                <ol>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ol>
            </section>
        </div>
    </div>
    <div class="box span3">
        <div class="content">
            <header>
                <h4>
                    unstyle list</h4>
            </header>
            <section>
                <ul class="unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Purus sodales ultricies</li>
                            <li>Vestibulum laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>Aenean sit amet erat nunc</li>
                    <li>Eget porttitor lorem</li>
                </ul>
            </section>
        </div>
    </div>
</div>
