@using Ornament
@using Ornament.Web;
@model dynamic

@{
    ViewBag.Title = "tit+le";
    Layout = OrnamentContext.Configuration.BackendLayout();
}

@section pageTitle{
    <h5>插件管理</h5>
}

<form>
    <table>
        <tr>
            <th></th>
            <th>名字</th>
        </tr>
    </table>
</form>
