<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--- NHibernate Burrow Section -->
    <section name="NHibernate.Burrow" type="NHibernate.Burrow.Configuration.NHibernateBurrowCfgSection,NHibernate.Burrow"/>    
  </configSections>  
  <NHibernate.Burrow>
    <persistenceUnits>
      <add name="default" nh-config-file="hibernate.cfg.config" autoUpdateSchema="true" />
    </persistenceUnits>
  </NHibernate.Burrow>
  
  <system.web>
    <membership defaultProvider="OrnamentProvider" userIsOnlineTimeWindow="30">
      <providers>
        <clear/>
        <add applicationName="/WebFrame" enablePasswordReset="True"
             enablePasswordRetrieval="True" maxInvalidPasswordAttempts="5"
             minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="6"
             passwordAttemptWindow="10" passwordFormat="Hashed"
             passwordStrengthRegularExpression=""
             requiresQuestionAndAnswer="True"
             requiresUniqueEmail="True" name="OrnamentProvider"
             type="Ornament.MemberShip.Module.Web.MemberShipProvider,Ornament.MemberShip.Module"/>
      </providers>
    </membership>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ObjectBuilder2" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
