@model string
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<h3>@this.Model.</h3>
<h4>Redirect to @Html.ActionLink("Typography", "Home", new { area = "" }) after 2 seconds.</h4>
@section head
{
    <meta http-equiv="Refresh" content="2;URL=@Url.Action("Index", "Home", new { area = "" })">
}
