@using Ornament.Properties
@model Ornament.MemberShip.Plugin.Models.Memberships.ChangePasswordModel
@{
    var curPwdAttrs = new
    {
        HtmlAttributes =
            new Dictionary<string, object>
    {
        {"ms-duplex", "currentPwd"}
    }
    };

    var newPwdAttr = new
    {
        HtmlAttributes =
            new Dictionary<string, object>
    {
        {"ms-duplex", "newPwd"}
    }
    };

    var confirmPwd = new
    {
        HtmlAttributes =
            new Dictionary<string, object>
    {
        {"ms-duplex", "confirmPwd"}
    }
    };
}
<form class="form-horizontal" ms-controller="pwd" ms-on-submit="save">
    @Html.EditorFor(_ => _.CurrentPassword, curPwdAttrs)
    @Html.EditorFor(_ => _.NewPassword, newPwdAttr)
    @Html.EditorFor(_ => _.ConfirmPassword, confirmPwd)
    <div class="form-actions">
        <button id="pwdBtn" class="btn btn-primary">@Resources.OK
            <i class="icon-pencil icon-white"></i>
        </button>
    </div>

</form>
