@using Ornament.Web
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/views/shared/_layout.cshtml";
}

@section head
{
}

<form id="wizard1" method="post" action="#" class="form-horizontal row-fluid well">
    <div class="widget">
        <div class="navbar">
            <h5>@Html.GetResourceString("Title")</h5>
        </div>
        <div class="well">
            @input
        </div>
    </div>
</form>
