@using Ornament.Web
@using Ornament.Web.HtmlExtends;
@using Resources
@model Ornament.Web.Models.Users.ForgetPassword
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/views/shared/_layout.cshtml";
}

@section head
{
}

<!-- Login block -->
<div class="login">
    <div class="navbar">
        <div class="navbar-inner">
            <h6><i class="icon-user"></i>@Html.GetResourceString("logonTitle")</h6>
        </div>
    </div>

    <div class="well">
        <form class="row-fluid uniform" method="POST" action="@Url.Action("ForgetPassword")">
            @Html.LabelTextBoxFor(s => s.AccountOrEmail)
            <div class="login-btn">
                <input type="submit" value="@Basic.OK" class="btn btn-danger btn-block span12" />
            </div>
        </form>
    </div>
</div>
