@using Resources
@model Qi.Attendance.EmployeeGroup
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
<div class="page-header">
    <h3>
        创建雇员分组</h3>
    <p>
        在这里创建雇员分组，并且设置工作时间。系统会根据工作时间来分析雇员的考勤情况。
    </p>
</div>
<div class="box">
    <div class="content">
        <form class="form-horizontal" method="POST">
        @Html.Partial("EditorTemplates/EmployeeGroup")
        <div class="btn-toolbar form-actions">
            <button class="btn btn-primary">@Basic.Create</button>
        </div>
        </form>
    </div>
</div>
