@model Ornament.MVCWebFrame.Areas.Attendance.Models.CardsModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_appLayout.cshtml";
    
}


@Scripts.Render("~/bundles/ko")
<div class="box">
    <div class="content">
        
        @Html.Partial("EditorTemplates/CardsEditor",this.Model.Cards)
    </div>
</div>