@using Qi.Attendance
@using Resources
@model Qi.Attendance.Employee
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_appLayout.cshtml";
}
<div class="page-header">
    <h2>添加雇员</h2>
</div>
<div class="box">
    <div class="content">
        <form class="form-horizontal" method="POST">
        @Html.Partial("EditorTemplates/Employee", Model ?? new Employee())
        <div class="form-actions">
            <button class="btn btn-primary">@Basic.Create</button>
            <a class="btn btn-danger" href="@Url.Action("Index")">@Basic.Cancel</a>
        </div>
        </form>
    </div>
</div>
