<ul class="header-dropdown-list hidden-xs">
    <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/img/blank.gif" class="flag flag-us" alt="United States">
            <span>US</span> <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu pull-right">
            <li class="active">
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-us" alt="United States">
                    English (US)</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-fr" alt="France">
                    Français</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="img/blank.gif" class="flag flag-es" alt="Spanish">
                    Español</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-de" alt="German">
                    Deutsch</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-jp" alt="Japan">
                    日本語</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-cn" alt="China">
                    中文</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-it" alt="Italy">
                    Italiano</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-pt" alt="Portugal">
                    Portugal</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-ru" alt="Russia">
                    Русский язык</a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <img src="/img/blank.gif" class="flag flag-kp" alt="Korea">
                    한국어</a>
            </li>

        </ul>
    </li>
</ul>
