<div id="logo-group" ms-controller="_notifyCount">
@*
    <!-- PLACE YOUR LOGO HERE -->
    *@
    <span id="logo">
        <img src="/img/logo.png" alt="SmartAdmin">
    </span>
    <!-- END LOGO PLACEHOLDER -->

    @*<!-- Note: The activity badge color changes when clicked and resets the number to 0
                    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->*@
    <span id="activity" class="activity-dropdown"><i class="fa fa-user"></i><b class="badge">21 </b></span>

   
    @Html.Partial("/Views/Shared/Layout/_notifyMsg.cshtml")
   
</div>
