@using Ornament
@using Ornament.MemberShip
@{
    var user = OrnamentContext.MemberShip.CurrentUser();
    var pic = (user.Contact.Gender??GenderType.Unknown) + ".png";
}
<div class="login-info">
    <span>
        <!-- User image size is adjusted inside CSS, it should stay as is -->
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="/Content/images/gender/@pic" alt="me" class="online" />
            <span>
               @(User.Identity.IsAuthenticated ? OrnamentContext.MemberShip.CurrentUser().Name : "Guest")
            </span>
            <i class="fa fa-angle-down"></i>
        </a>

    </span>
</div>
