@using Ornament.Models.Security
@using Ornament.Web
@model Ornament.Models.Security.VerifyResutl?
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_layout.cshtml";
    var dict = new Dictionary<VerifyResutl, string>
        {
            {
                VerifyResutl.Expire, Url.Action("Index", "Account")
            },
             {
                VerifyResutl.Failed, Url.Action("Index", "Account")
            },
            
            {
                VerifyResutl.Success, Url.Action("Index", "Home")
            },
        };
}

<div class="row-fluid">
    <div class="span12">
        <div style="margin: 0 auto; text-align: center">
            <h2>
                @Html.GetResourceString(Model.ToString())
            </h2>
        </div>
    </div>
</div>

@section head
{
    <script type="text/javascript">
        setTimeout(function () {
            @{
#if !DEBUG
            }

            location = '@dict[Model.Value]';
            @{
#else
                }
            console.log('@dict[this.Model.Value]');
            
            @{
#endif
            }
        }, 2000)
    </script>
}

