@model Ornament.Models.Security.VerifyEmailAndChangePasswordResutl

@{
    ViewBag.Title = "Verify Email";
    Layout = "~/Views/Shared/_applayout.cshtml";
}


<div class="row-fluid">
    <div class="span4">
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>Span4</h6>
                </div>
            </div>
            <div class="well body"><code>&lt;div class="span4"&gt;&lt;/div&gt;</code></div>
        </div>
    </div>

    <div class="span4 offset4">
        <div class="widget">
            <div class="navbar">
                <div class="navbar-inner">
                    <h6>Span4 offset</h6>
                </div>
            </div>
            <div class="well body"><code>&lt;div class="span4 offset4"&gt;&lt;/div&gt;</code></div>
        </div>
    </div>
</div>
