@using Ornament
@using Qi
@model Ornament.MemberShip.Security.VerifyResult

@{
    ViewBag.Title = "Verify Email";
    Layout = Ornament.OrnamentContext.Configuration.Layout();
}

<div>
    验证Email @this.Model.ToDescription()
</div>

