<?xml version="1.0" encoding="utf-8"?>

<configuration>


  <components>
  <!--
  1) MemberShipInit id不能改变，当第一次运行这个程序的时候（即创建了Db，并且修改了Web.config的连接字符串），会自动创建Membership的Table，并且使用
  2) MemberShipInit进行初始化第一个用户Admin，密码是”<AdminPassword>XXX</AdminPassword>“中指定。  
  -->
    <component id="MembershipInit" service=" Ornament.Web.Models.IInitializer,Ornament.Web.Core"
               type="Ornament.MVCWebFrame.Models.DataInit.MembershipInit,Ornament.MVCWebFrame">
      <parameters>
      <AdminPassword>123456</AdminPassword>
      </parameters>
    </component>
    
  </components>


</configuration>