<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>


    <!--保存到文件-->
    <component id="File"
               service="Ornament.Messages.Stores.Store,Ornament.Messages.Core"
               type="Ornament.Messages.Stores.FileStore,Ornament.Messages.Core" lifestyle="singleton">
      <parameters>
        <mainFolder>~/Messages</mainFolder>
      </parameters>
    </component>

    <!--保存到数据库-->
    <component id="Database"
            service="Ornament.Messages.Stores.Store,Ornament.Messages.Core"
            type="Ornament.Messages.Stores.MemoryStore,Ornament.Messages.Core" lifestyle="singleton"
               >

    </component>

    <component id="StoreManager" service="Ornament.Messages.Stores.StoreManager,Ornament.Messages.Core"
                type="Ornament.Messages.Stores.StoreManager,Ornament.Messages.Core"
                lifestyle="singleton">
      <parameters>
        <stores>
          <dictionary>
            <entry key="Memory">${Database}</entry>
            <entry key="File">${File}</entry>
          </dictionary>
        </stores>
      </parameters>
    </component>


  </components>



</configuration>