<div>
    <script type="avalon" id="org_tpl">
<span style="cursor: pointer" ms-click="toggle(el)" 
        ms-class="label label-success:el.selected">
     <i class="fa fa-lg"   ms-class-1="fa-plus-circle:(el.Childs.length && el.Hide==true)"
                           ms-class-2="fa-minus-circle:(el.Childs.length && el.Hide==false)"
                           ms-class-3="fa-users:el.Childs.length==0">                            
                        </i>&nbsp;{{el.Name}}
</span>

  <ul ms-if-loop="el.Childs.length" style="display:none">
      <li ms-include="'org_tpl'" ms-repeat-el="el.Childs"></li>
  </ul>
    </script>
    <div class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        ×
                    </button>
                    <h4 class="modal-title">选择组织</h4>
                </div>
                <div cl ass="modal-body">

                    <div class="tree">
                        <ul>
                            <li>
                                <span>
                                    <i class="fa fa-lg fa-sitemap"></i>&nbsp;组织结构
                                </span>
                                <ul ms-visible="orgs.length">
                                    <li ms-repeat-el="orgs">
                                        <span style="cursor: pointer" ms-click="toggle(el)"
                                              ms-class="label label-success:el.selected">
                                            <i class="fa fa-lg"
                                               ms-class-1="fa-plus-circle:(el.Childs.length && el.Hide==true)"
                                               ms-class-2="fa-minus-circle:(el.Childs.length && el.Hide==false)"
                                               ms-class-3="fa-users:el.Childs.length==0"></i>&nbsp;{{el.Name}}
                                        </span>
                                        <ul ms-if-loop="el.Childs.length" style="display: none">
                                            <li ms-include="'org_tpl'" ms-repeat-el="el.Childs"></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul ms-visible="!orgs.length">
                                    <li>
                                        <span class="label label-warning">
                                        没有组织结构</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ms-click="ok">
                        选择
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
