<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <appSettings>
    <add key="log4net" value="log4net.config" />
    <!--<add key="nhConfig" value="~/config/hibernate_ora.cfg.config"/>-->
  </appSettings>
  <connectionStrings>
    <add name="nhconnection" connectionString="server=.\sqlexpress;database=nhibernateDemo;uid=sa;pwd=sa" />
    <add name="localSystem" connectionString="Data Source=.\sqlexpress;Initial Catalog=orn;Integrated Security=True"></add>
    <add name="oracle" connectionString="Data Source=127.0.0.1/xe;user id=system;password=root"></add>
  </connectionStrings>

  <castle>
    <include uri="file://config/DaoFactory.config"></include>
    <include uri="file://config/Message.config"></include>        
  </castle>
  
  
  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
