@using Ornament
@using MvcSiteMapProvider
@using Ornament
@using Ornament.Models
@using Ornament.Web
@using Ornament.Web.MemberShips
@using Resources

<ul class="nav pull-right top-menu">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <!-- BEGIN SUPPORT -->
    @*<li class="dropdown mtop5">
            <a data-original-title="Chat" href="#" data-toggle="tooltip" data-placement="bottom" class="dropdown-toggle element">
                <i class="icon-comments-alt"></i>
            </a>
        </li>
        <li class="dropdown mtop5">
            <a data-original-title="Help" href="#" data-toggle="tooltip" data-placement="bottom" class="dropdown-toggle element">
                <i class="icon-headphones"></i>
            </a>
        </li>*@
    <!-- END SUPPORT -->
    <!-- BEGIN USER LOGIN DROPDOWN -->
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <img alt="" src="/Content/templates/metralab/img/avatar1_small.jpg">
            <span class="username">@OrnamentContext.MemberShip.CurrentUser().Name</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
            <li><a href="#"><i class="icon-user"></i>My Profile</a></li>
            <li><a href="#"><i class="icon-cog"></i>My Settings</a></li>
            <li><a href="@Url.Action("LogOff", "Account", new { area = "" })"><i class="icon-key"></i>Log Out</a></li>
        </ul>
        
    </li>
}
    <!-- END USER LOGIN DROPDOWN -->
</ul>
    <!-- END TOP NAVIGATION MENU -->

