@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao

@using Ornament.MemberShip.Plugin.Models
@using Ornament.MemberShip.Web.Plugin.Areas.MemberShips.Models
@using Ornament.MemberShip.Web.Plugin.Models
@using Ornament.MemberShip.Web.Plugin.Models.Memberships
@using Qi.Web
@model Ornament.MemberShip.Org
@{
    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    IOrgDao orgDao = OrnamentContext.DaoFactory.MemberShipFactory.CreateOrgDao();
    bool assignAllOrg = OrnamentContext.MemberShip.HasRight(ResourceSetting.Org, OrgOperator.AssignAllOrg);
    
    var showOrgs = new List<Org>();
    if (assignAllOrg)
    {
        showOrgs.AddRange(orgDao.GetRootOrgs());
    }
    else if (Model != null)
    {
        showOrgs.Add(Model);
    }
    string value = Model != null ? Model.Id : "";

    var childDTO = OrgDto.ToTree(showOrgs);
}

<input type="hidden" value="@value" id="@Html.Id("")" name="@Html.Name("")"/>
<span>@(Model != null ? Model.Name : "")</span>

<div ms-widget="Org">
    
</div>
