@using Qi.Web
@model Ornament.MemberShip.Role[]
@{
    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var selected = new object();
    string ids = "";
    if (this.Model != null)
    {
        selected = from role in this.Model
                   select new
                   {
                       id = role.Id,
                       text = role.Name
                   };
        ids = String.Join(",", from role in this.Model select role.Id);
    }
}

    @Html.Label("", display, new { @class = "control-label" })
    <div class="controls" ms-each-el="roles" ms-controller="roleCheckboxes">
        <label class="checkbox inline" ms-text="el.Name">
            <input type="checkbox" ms-value="el.id">
        </label>
    </div>


<script type="text/javascript">
    require(["/MemberShips/Scripts/Share/roleCheckboxes.js"], function(r) {
        var d = @Html.Raw(JsonHelper.ToJson(selected));
        r(d);
    });
</script>
