@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao
@using Ornament.MemberShip.Plugin.Models
@model Ornament.MemberShip.Role[]
@{

    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    IEnumerable<string> ids = Model != null ? Model.Select(s => s.Id) : new String[0];
    IList<Role> roles = OrnamentContext.DaoFactory.GetDaoFactory<IMemberShipFactory>()
        .CreateResourceDao()
        .FindResources<Role>(OrnamentContext.MemberShip.CurrentUser(), RoleOperator.Assign);
}
@foreach (Role a in roles)
{
    string check = ids.Contains(a.Id) ? "checked='checked'" : "";
    <label class="inline checkbox">
        @a.Name
        <input type="checkbox" class="inline checkbox" value="@a.Id" name="@Html.Name("")" @check />
    </label>
}
