@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao
@using Ornament.MemberShip.Plugin.Models
@model Ornament.MemberShip.Role[]
@{

    
    IEnumerable<string> ids = Model != null ? Model.Select(s => s.Id) : new String[0];

    IList<Role> roles = OrnamentContext.DaoFactory.GetDaoFactory<IMemberShipFactory>()
        .CreateResourceDao()
        .FindResources<Role>(OrnamentContext.MemberShip.CurrentUser(), RoleOperator.Assign);

    //IDictionary<string, object> htmlAttris;
    //if (ViewData.ContainsKey("HtmlAttributes"))
    //{
    //    htmlAttris = ViewData["HtmlAttributes"] as IDictionary<string, object>;
    //    if (htmlAttris == null)
    //    {
    //        htmlAttris = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["HtmlAttributes"]);
    //    }
    //}
    //else
    //{
    //    htmlAttris = new Dictionary<string, object>();
    //}
    
    
}

@if (roles.Count != 0)
{
    foreach (Role a in roles)
    {
        var check = ids.Contains(a.Id) ? "checked='checked'" : "";
        <label class="checkbox-inline" title="@a.Remarks">
            <input type="checkbox" value="@a.Id" name="@Html.Name("")" @check />
            @a.Name
        </label>
    }
}
else
{
    <p class="form-control-static">沒有角色分配權限</p>
}
