@using Ornament
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao
@using Ornament.MemberShip.Plugin.Models
@using Qi.Web
@model Ornament.MemberShip.UserGroup[]
@{
    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    IList<UserGroup> usergroups = OrnamentContext.DaoFactory.GetDaoFactory<IMemberShipDaoFactory>()
       .CreateResourceDao()
       .FindResources<UserGroup>(OrnamentContext.MemberShip.CurrentUser(), UserGroupOperator.Assign);

    IEnumerable<string> ids = Model != null ? Model.Select(s => s.Id) : new String[0];
}
@foreach (var a in usergroups)
{
    string check = ids.Contains(a.Id) ? "checked='checked'" : "";
    <label class="checkbox-inline">
        <input type="checkbox" value="@a.Id" name="@Html.Name("")" @check />
        @a.Name 
    </label>
}
