@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<p>
    <div class="alert alert-error">
        <h1>
            404
        </h1>
        The page you requested could not be found on this server.<br/>
        You request: @Request.Url
    </div>
</p>
