@using System.Threading.Tasks
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Ornament
@using Ornament.Identity.Enterprise



<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" ms-controller="orgTree">
    <div class="tree"><wbr ms-widget="{is:'tree',tree: @@orgs}" /></div>
</div>
<div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
    @Html.Partial("_input")
</div>


