@using System.ComponentModel.DataAnnotations
@using Ornament.Web.ValidationAdapter
@model Int32?
@{
    var display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var inputName = ViewData.TemplateInfo.HtmlFieldPrefix;
    var format = ViewData.ModelMetadata.DisplayFormatString;
    var step = 1;

    foreach (var attr in ViewData.ModelMetadata.GetValidators(this.ViewContext))
    {
        var b = attr as StepAttributeAdapter;
        if (b != null)
        {
            foreach (ModelClientValidationRule mcvr in b.GetClientValidationRules())
            {
                step = Convert.ToInt32(mcvr.ValidationParameters["step"]);

            }
            break;
        }

    }
}

<div class="control-group">
    @Html.Label(inputName, display, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBox("", this.Model ?? 0, new Dictionary<string, object>(){
            { "class" , "styled jqui-spinner"},
            {"jq-step",step }
        })
        @Html.ValidationMessage("")
    </div>
</div>
