@using Ornament
@using System.Web.Mvc.Html;
@model string
@{
    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    string inputName = string.Empty; // ViewData.TemplateInfo.HtmlFieldPrefix;    
    IDictionary<string, object> htmlAttris = new Dictionary<string, object>();

    if (ViewData.ContainsKey("HtmlAttributes"))
    {
        htmlAttris = ViewData["HtmlAttributes"] as IDictionary<string, object>;
        if (htmlAttris == null)
        {
            htmlAttris = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["HtmlAttributes"]);
        }
    }
    if (htmlAttris.ContainsKey("class"))
    {
        htmlAttris["class"] = htmlAttris["class"] + " span10";
    }
    else
    {
        htmlAttris.Add("class", "span10");
    }

    if (htmlAttris.ContainsKey("style"))
    {
        htmlAttris["style"] = htmlAttris["style"] + ";padding-top:4px";
    }
    else
    {
        htmlAttris.Add("style", "padding-top:4px");
    }






    var langs = from lang in OrnamentContext.Configuration.Languages
                select new SelectListItem()
                    {
                        Text = lang.Name ,
                        Value = lang.Key,
                        Selected = lang.MatchKey.Any(s => s == this.Model)
                    };
}
<div class="control-group">
    @Html.Label(inputName, display, new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownList(inputName, langs, htmlAttris)
    </div>
</div>
