@model string
@{
    var display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var inputName = string.Empty;// ViewData.TemplateInfo.HtmlFieldPrefix;    
    IDictionary<string, object> htmlAttris = new Dictionary<string, object>();
    if (ViewData.ContainsKey("HtmlAttributes"))
    {
        htmlAttris = ViewData["HtmlAttributes"] as IDictionary<string, object>;
        if (htmlAttris == null)
        {
            htmlAttris = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["HtmlAttributes"]);
        }
    }
  
    
}
<div class="control-group">
    @Html.Label(inputName, display, new { @class = "control-label" })
    <div class="controls">
        @Html.Password(inputName ,this.Model,htmlAttris)
        @Html.ValidationMessage(inputName)
    </div>
</div>
