@using System.Collections
@using Ornament.MemberShip
@using Ornament.MemberShip.Dao
@{
    var performs = ViewData["performers"] as IEnumerable<Performer>;
}
<div class="row">
    <div class="span4">
        @*<div class="form-search" style="margin: 0px 5px 5px 0">
            <input id="loginid" type="text" class="input-medium" style="width: 200px" />
            <a id="searchUser" class="btn"><i class="icon-search"></i></a>
        </div>*@
        <select id="userSearcher" multiple="multiple">
            @foreach (var performer in performs)
            {
                <option value="@performer.Id">@performer.Name</option>
            }
        </select>
    </div>
    <div class="span1">
        <button type="button">
            &gt;</button>
        <button type="button">
            &lt;</button>
    </div>
    <div class="span4">
        <select id="selecteds" multiple="multiple">
        </select>
    </div>
</div>
<script src="@Url.Content("~/Scripts/jquery.endless-scroll.js")" type="text/javascript"></script>
<script type="text/javascript">
    var pageIndex = 0;
    var searchContent = "";

    $(document).ready(function () {

        $("#userSearcher").endlessScroll({
            fireOnce: true,
            fireDelay: false,
            loader: "<div class=\"loading\"><div>",
            callback: function () {
                pageIndex++;
                InvokeSearch();
            }
        });

        $("#searchUser").click(function () {
            searchContent = $("#loginid").val();
            pageIndex = 0;
            InvokeSearch();
        });
    });

    function InvokeSearch() {
        var data = {
            loginId: searchContent,
            pageIndex: pageIndex
        };
        $.getJSON('@this.Url.Action("Search", "User", new { area = "MemberShips" })', data, AddToSelector);
    }
</script>
