@model string
@{
    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    string inputName = string.Empty; // ViewData.TemplateInfo.HtmlFieldPrefix;    
    var htmlAttris = new Dictionary<string, object> {{"class", "span10"}};

    foreach (ModelValidator attr in ViewData.ModelMetadata.GetValidators(ViewContext))
    {
        var b = attr as StringLengthAttributeAdapter;
        if (b != null)
        {
            foreach (ModelClientValidationRule mcvr in b.GetClientValidationRules())
            {
                object length = mcvr.ValidationParameters["max"];
                htmlAttris.Add("maxlength", length);
            }
            break;
        }
    }
}
<div class="control-group">
    @Html.Label(inputName, display, new {@class = "control-label"})
    <div class="controls">
        @Html.TextBox(inputName, Model, htmlAttris)
        @Html.ValidationMessage(inputName)
    </div>
</div>
<script type="text/javascript">
    seajs.use(["inputlimiter"])
</script>