@model string
@{
    var display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
}
<div class="control-group">
    @Html.Label("", display, new { @class = "control-label" })
    <div class="controls">
        @Html.TextArea("", this.Model, 8,40,new Dictionary<string, object>
            {
                {"class","styled"}
            })
        @Html.ValidationMessage("")
    </div>
</div>
