@using System.Net.Mime
@model TimeZoneInfo
@{
    var display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    var inputName = string.Empty;// ViewData.TemplateInfo.HtmlFieldPrefix;    
    var timeZones = from a in TimeZoneInfo.GetSystemTimeZones()
                    select new SelectListItem()
                        {
                            Text = a.ToString(),
                            Value = a.Id,
                            Selected = this.Model != null && this.Model.Id == a.Id
                        };
}
<div class="control-group">
    @Html.Label(inputName, display, new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownList("", timeZones, new { @class = "styled" })
        @Html.ValidationMessage(inputName)
    </div>
</div>
