@model string

<div class="control-group" id="verifyCode">
    <div class="controls">
        @Html.Label("", new { @class = "control-label" })
        @Html.TextBox("", "", new { @class = "span12" ,autocomplete = "off"})
        @Html.ValidationMessage("")
    </div>
</div>

<script type="text/javascript">
    var tmp = '<img src="@Url.Action("Index", "VerifyCode", new { area = "" })" onclick="this.src = $(this).attr("src") + "?" + Math.random()" class="verifyCode"/>';
    seajs.use(["bootstrap"], function () {
        var $tag = $("#verifyCode");
        $("a.verifyCode").on("click", function () {
            this.src = $(this).first().attr("src") + "?" + Math.random();
        });
        $tag.find("input").popover({
            html: true, placement: "top", title: "Please input Verify Code",
            content: tmp
        });
    });
</script>
