@*
if you want to modify this page, please more careful, if has any error, the custome page isn't works.
*@
@using log4net
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "_layout.cshtml";
    LogManager.GetLogger(this.GetType()).Fatal(this.Model.Exception.Message, this.Model.Exception);
}
<h2>Sorry, an error occurred while processing your request.</h2>


@RenderExceptionMessage(this.Model.Exception)
@helper RenderExceptionMessage(Exception exception)
{
    <ul>
        <li>
            @exception.Message
            <div style="overflow: auto">
                @Html.Raw(exception.StackTrace.Replace("\r\n", "<br>"))
            </div>
        </li>
        @if (exception.InnerException != null)
        {
            RenderExceptionMessage(exception.InnerException);
        }
    </ul>
}
