<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!--- NHibernate Burrow Section -->
    <section name="NHibernate.Burrow" type="NHibernate.Burrow.Configuration.NHibernateBurrowCfgSection,NHibernate.Burrow"/>    
  </configSections>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="nhconnection" connectionString="server=.;database=nhibernateDemo;uid=sa;pwd=sa"/>
  </connectionStrings>

  <NHibernate.Burrow>
    <persistenceUnits>
      <add name="default" nh-config-file="hibernate.cfg.config" autoUpdateSchema="true"/>
    </persistenceUnits>
  </NHibernate.Burrow>
  <castle>
    <include uri="Membership.config"></include>
    <include uri="Message.config"></include>
  </castle>


  <system.web>
    <membership defaultProvider="OrnamentProvider" userIsOnlineTimeWindow="30">
      <providers>
        <add enablePasswordReset="True" enablePasswordRetrieval="False"
          maxInvalidPasswordAttempts="0" minRequiredNonAlphanumericCharacters="6"
          minRequiredPasswordLength="6" passwordAttemptWindow="0" passwordFormat="Clear"
          requiresQuestionAndAnswer="True" requiresUniqueEmail="True"
          applicationName="application" passwordStrengthRegularExpression="\d*"
          name="OrnamentProvider" type="Ornament.MVCWebFrame.Models.MemberShips.MemberShipProvider,Ornament.MVCWebFrame" />
      </providers>
    </membership>
    

  </system.web>
  <connectionStrings>

  </connectionStrings>
</configuration>
