@using Ornament.MemberShip
@model Ornament.MemberShip.Org

@if (Model != null)
{
    Org current = Model;
    <ul class="breadcrumb">
        <li style="background: none">
            @Html.ActionLink("root", "Index", "Org", new { id = "", area = "MemberShips" }, null)

        </li>
        @{
    while (current != null)
    {
        bool hasParent = current.Parent != null;
        Org item = current;
        current = current.Parent;


            <li @(!hasParent ? "class=active" : "")>
                @Html.ActionLink(item.Name, "Index", "Org", new { id = item.Id }, null)

            </li>
    }
        }
    </ul>
}