@using System.Text.RegularExpressions
@using Qi.Web.Mvc.ClientValidations.Adapters
@using Qi.Web.Mvc.ClientValidations.Rules
@model DateTime?
@{
    string display = ViewData.ModelMetadata.DisplayName ?? ViewData.ModelMetadata.PropertyName;
    string displayValue = Model != null ? Model.Value.ToString(ViewData.ModelMetadata.DisplayFormatString) : "";
    string format = (ViewData.ModelMetadata.DisplayFormatString ?? "yyyy-MM-dd").ToLower();
    string inputMask = Regex.Replace(format, @"(\w{2})(\1)+", "$1");
    @*由app.js直接成成jqueryui控件,so should be added datepicker class*@
    IDictionary<string, object> htmlAttris = null;
    if (ViewData.ContainsKey("HtmlAttributes"))
    {
        htmlAttris = ViewData["HtmlAttributes"] as IDictionary<string, object> ?? HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["HtmlAttributes"]);
        if (!htmlAttris.ContainsKey("class"))
        {
            htmlAttris.Add("class", "datepicker");
        }
        else
        {
            if (!htmlAttris["class"].ToString().Contains("datepicker"))
            {
                htmlAttris["class"] += " datepicker";
            }
        }
    }
    else
    {
        htmlAttris = new Dictionary<string, object>
        {
            {"data-dateformat", inputMask},
            {
                "class","datepicker" 
            }
        };
    };
    
 
        
}

@Html.TextBox("", displayValue, htmlAttris)
<span class="input-group-addon"><i class="fa fa-calendar"></i></span>