@using Ornament
@using Ornament.Web.UI.Theme
@using Qi.Web
@using System

@model System.Collections.Generic.IDictionary<string, string>

@{
    ViewBag.Title = "Variable Config";
    Layout = OrnamentContext.Configuration.Layout();
    string a = JsonHelper.ToJson(Model.Select(v => new { Name = v.Key, v.Value }));
}

@using (Panel panel = Html.Panel())
{
    @panel.Header(@<text>
                       <h2>Global Variable setting</h2>
                   </text>)
    ;
    @panel.Body(@<text>

                     <table class="table table-condensed table-bordered" ms-controller="index">
                         <thead>
                             <tr>
                                 <td colspan="3">
                                     <button ms-click="add" class="btn">Add</button>
                                     <button ms-click="reload" class="btn">Reload </button>
                                     <button ms-click="save" class="btn">Save</button>
                                 </td>
                             </tr>
                             <tr>
                                 <th>Variable Name</th>
                                 <th>Value</th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr ms-repeat="data">
                                 <td>
                                     <button ms-click="del(el,$remove)" class="btn btn-danger">
                                         <i class="fa fa-remove"></i>
                                     </button>
                                 </td>
                                 <td>
                                     <input ms-duplex="el.Name" class="row-fluid" />
                                 </td>
                                 <td>
                                     <input ms-duplex="el.Value" class="row-fluid" />
                                 </td>
                             </tr>
                         </tbody>
                         <tfoot>
                             <tr>
                                 <td colspan="3">
                                     <button ms-click="add" class="btn">Add</button>
                                     <button ms-click="reload" class="btn">Reload </button>
                                     <button ms-click="save" class="btn">Save</button>
                                 </td>
                             </tr>
                         </tfoot>

                     </table>
                 </text>)
    ;
}
@section scripts{
    <script type="text/javascript">

        require(['require', '/scripts/config.js'], function(require) {
            var js = @Html.Raw(a);
            require(['@Scripts.Url("/Messages/Scripts/Config/index")'], function(init) {
                init(js);
            });
        });
    </script>
}