@using Microsoft.Ajax.Utilities
@using Ornament
@using Ornament.Web.UI.Theme
@using Qi.Web
@model IDictionary<string,string>

@{
    ViewBag.Title = "Variable Config";
    Layout = OrnamentContext.Configuration.BackendLayout();
    var a = JsonHelper.ToJson(this.Model.Select(v=>new {key=v.Key,val=v.Value}));
}

@using (var panel = Html.Panel())
{
    panel.Header(@<text>
    <h4>Global Variable setting</h4>
    </text>);
    panel.Body(@<text>
    <table class="table table-condensed table-bordered" ms-controller="index">
        <thead>
            <tr>
                <th>Variable Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ms-repeat="data">
                <td></td>
            </tr>
        </tbody>
    </table>
    </text>);

}
@section scripts{
    @Scripts.Render("~/Scripts/avalon.js")

    <script type="text/javascript">
        avalon.config({ loader: false });
    </script>
    <script type="text/javascript">
        var js=@Html.Raw(a);
        seajs.use("/Messages/Scripts/Config/", function(init) {
            init(js);
        });
    </script>
}
