@using System.Web.UI.WebControls
@model bool?
@{
    var result = this.Model;
}

<form method="POST" action="@ViewData["Url"]" id="authForm">
    <input name="result" value="@Model"/>
</form>
<script type="text/javascript">
    authForm.submit();
</script>
