<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <components>
   
    <!--
     Example :     
     Following dao has registed in containers in gloabl-->
     
    <component id="MemberFactory"
               service="Ornament.MemberShip.Dao.IMemberShipFactory,Ornament.MemberShip.Core"
               type="Ornament.MemberShip.Dao.NHibernateImple.MemberShipFactory,Ornament.MemberShip.Dao.NHibernateImple"
               lifestyle="singleton"></component>

    <component id="MessageFactory"
            service="Ornament.Messages.Dao.IDaoFactory,Ornament.Messages.Core"
            type="Ornament.Messages.Dao.NHibernateImple.MessageDaoFactory,Ornament.Messages.Dao.NHibernateImple"
            lifestyle="singleton"></component>
  </components>


</configuration>