<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <components>
    <component id="resType" type="Ornament.Web.ResourceDescription,Ornament.Web.Core">
      <parameters>
        <ValueType>
          System.String,mscorlib
        </ValueType>
        <Path>
          /Areas/MemberShips/Views/Permissions/DefaultResourceSelector.cshtml
        </Path>
        <Name>类型资源</Name>
      </parameters>
    </component>

    <component id="resInfo" type="Ornament.Web.ResourceDescription,Ornament.Web.Core">
      <parameters>
        <ValueType>
          Ornament.Messages.MessageType,Ornament.Messages.Core
        </ValueType>
        <Path>
          ~/Areas/Infos/Views/Shared/InfoTypeChoice.cshtml
        </Path>
        <Name>信息资源</Name>
      </parameters>
    </component>

    <component id="Configuration" type="Ornament.Web.ResourceDescriptionManager,Ornament.Web.Core">
      <parameters>
        <resources>
          <list>
            <item>${resType}</item>
            <item>${resInfo}</item>
          </list>
        </resources>
      </parameters>
    </component>

    <!--绑定operator和资源的关系-->
    <component id="OperatorResMaping"
               type="Ornament.MemberShip.Permissions.OperatorResourceMapping,Ornament.MemberShip.Core">
      <parameters>
        <TypeResourceMapping>
          <dictionary>
            <entry key="User">
              Ornament.MVCWebFrame.Models.Membership.UserOperator,Ornament.MVCWebFrame
            </entry>
            <entry key="Role">
              Ornament.MVCWebFrame.Models.Membership.RoleOperator,Ornament.MVCWebFrame
            </entry>
            <entry key="Account">
              Ornament.MVCWebFrame.Models.Membership.AccountOperator,Ornament.MVCWebFrame
            </entry>
            <entry key="Org">
              Ornament.MVCWebFrame.Models.Membership.OrgOperator,Ornament.MVCWebFrame
            </entry>
            <entry key="UserGroup">
              Ornament.MVCWebFrame.Models.Membership.UserGroupOperator,Ornament.MVCWebFrame
            </entry>
          </dictionary>
        </TypeResourceMapping>
        <ResourceMapping>
          <dictionary>
            <entry key="Ornament.Messages.MessageType,Ornament.Messages.Core">
              Ornament.Messages.InfoOperator,Ornament.Messages.Core
            </entry>
          </dictionary>
        </ResourceMapping>
      </parameters>

    </component>


  </components>
</configuration>