@using Ornament.Web
@using Qi
@model Ornament.MVCWebFrame.Areas.Docs.Models.DateTimePickerModel
@{
    ViewBag.Title = "DatePicker";
    Layout = "../Shared/_codeLayout.cshtml";
}
@section pageTitle
{
    <h5>Date/Time/Period 
    </h5>
    <span>Pure Html for DatePicker and input mask for Date 
    </span>
}
<h5 class="widget-name"><i class="icon-th"></i>Date Picker</h5>

<div class="row-fluid">

    <div class="widget span3">
        <div class="navbar">
            <div class="navbar-inner">
                <h6>Demo</h6>
            </div>
        </div>
        <div class="body well">
            @Html.EditorFor(s => s.Now)
            @Html.EditorFor(s => s.DefualtFormat)
        </div>
    </div>

    <div class="widget span7">
        <div class="body well">
            <!-- start to build-->
            <div class="semi-widget">
                <strong>Defined a View Model</strong>
                <pre class="prettyprint lang-vb pre-scrollable linenums">
public class DateTimePickerModel
{
        [UIHint("Date")]
        [DisplayFormat(ApplyFormatInEditMode = true, DataFormatString = "yyyy/MM/dd")]
        public DateTime Now { get; set; }
                    
        [UIHint("Date")]
        public DateTime? DefualtFormat { get; set; }
}
                    </pre>
            </div>

            <!-- start to build-->
            <div class="semi-widget">
                <strong>Render HTML with Razor</strong>

                <pre class="prettyprint lang-html  pre-scrollable linenums">
@@Html.EditorFor(s => s.Now)
@@Html.EditorFor(s => s.DefualtFormat)
</pre>
            </div>

            <!-- start to build-->
            <div class="semi-widget">
                <strong>call datepicker</strong>

                <pre class="prettyprint lang-js  pre-scrollable linenums">
seajs.use(["datePicker"], function () {
    $(".date").datepicker();
});
</pre>
            </div>
        </div>
    </div>
</div>



<div class="row-fluid">
    <div class="widget">
        <div class="navbar">
            <div class="navbar-inner">
                <h6>Time Picker</h6>
            </div>
        </div>
        <div class="body well">
            <div class="row-fluid">
                <div class="span3 widget">
                    <div class="body well">
                        @Html.EditorFor(s => s.TimeNow)
                    </div>
                </div>
                <div class="span7">
                    <div class="widget">
                        <div class="body well">
                            <!-- start to build-->
                            <div class="semi-widget">
                                <strong>Defined a View Model</strong>
                                <pre class="prettyprint lang-vb pre-scrollable linenums">
public class DateTimePickerModel
{
        [UIHint("Time")]
        [DisplayFormat(ApplyFormatInEditMode = true, DataFormatString = "HH:ss")]
        public DateTime Now { get; set; }
}
                    </pre>
                            </div>

                            <!-- start to build-->
                            <div class="semi-widget">
                                <strong>Render HTML with Razor</strong>

                                <pre class="prettyprint lang-html  pre-scrollable linenums">
@@Html.EditorFor(s => s.Now)
</pre>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section script
{

    <script type="text/javascript">
        seajs.use(["datePicker", "inputmask"], function () {
            $(".date").datepicker();
        });

    </script>
}
